<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <languageFallbackFieldValues>
      <patch:attribute name="defaultProvider">support</patch:attribute>
      <providers>
        <add name="support" type="Sitecore.Support.Data.LanguageFallback.LanguageFallbackFieldValuesProvider, Sitecore.Support.105327" />
      </providers>
    </languageFallbackFieldValues>
  </sitecore>
</configuration>